---
import DonLayout from '../layouts/DonLayout.astro';
import Hero from '../components/custom-ui/hero.astro'
import Bio from '../components/custom-ui/bio.astro'
---

<DonLayout title="Welcome to Astro.">
	<main class="w-full max-w-[100dvw]">
		<Hero heading="Graphic Designer, Creative Strategist, Brand Management" subheading="Account & Talent Manager, Sales, Marketing, Production Artist" />
		<Bio />
	</main>
</DonLayout>