---
interface Props {
	title: string;
}
import '../style/global.scss'
import '@fontsource/figtree';
import DonHeader from '../components/custom-ui/header.astro'

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center justify-start w-full h-full">
        <DonHeader />
		<slot />
	</body>
</html>